@using Cursova.ViewModels;

@model RegisterViewModel;


@{
    ViewData["Title"] = "Реєстрація";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Зареєструйте новий обліковий запис</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Buildind" class="control-label"></label>
                        <input asp-for="Buildind" class="form-control" />
                        <span asp-validation-for="Buildind" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apartment" class="control-label"></label>
                        <input asp-for="Apartment" class="form-control" />
                        <span asp-validation-for="Apartment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <input asp-for="Image" type="file" class="form-control" placeholder="Документи">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div><br />
                    <p>
                        <a asp-action="Login"> Вже маєте обліковий запис? Тоді просто увійдіть.</a>
                    </p>

                    <div class="form-group">
                        <input class="btn btn-success float-right" type="submit" value="Зареєструватися" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Скасувати</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>